:root {
    --main-color: #2B7FFF;
    --primary-color-light: #FFFFFF;
    --primary-color-dark: #011C44;
    --secondary-color-brown: #4a4a4a;
    --secondary-color-light-brown: #747272;
    --secondary-color-blue: #011f4a;
    --secondary-color-yellow: #ffd02b;

}

body {
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--main-color);
    font-family: 'Play', serif;
    font-weight: 700;
    font-size: 140px;
    width: 529px;
    height: 228px;
}

h2 {
    font-family: 'Play', serif;
    font-weight: 700;
    font-size: 64px;
}

/*MAIN*/
span {
    color: var(--main-color);
}

.span {
    color: var(--primary-color-dark);
    font-weight: 600;
}

ul {
    list-style-type: none;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1239px;
    margin: 0 auto;
    padding: 0 24px;
}

/*LINK*/
.link-header {
    color: var(--primary-color-dark);
    text-decoration: none;
    width: 67px;
    height: 21px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.link-header:hover {
    color: var(--main-color);
    list-style-type: none;
}

.link-footer {
    color: var(--primary-color-light);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.link-footer:hover {
    color: var(--main-color);
    list-style-type: none;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 219px;
    height: 53px;
    border-radius: 32px;
    border: 2px;
    color: var(--primary-color-light);
    background-color: var(--main-color);
}

.button:hover {
    border: 2px solid var(--main-color);
    color: var(--primary-color-dark);
    background-color: transparent;
}

/*PARAGRAPH*/
.first-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.second-paragraph {
    color: var(--secondary-color-brown);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

.hero-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}

/*HEADER*/
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 106px;
    backdrop-filter: blur(10px);
}

.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header-media {
    display: flex;
    flex-grow: 1;
    gap: 32px;
    justify-content: center;
}

.header-socials {
    fill: var(--primary-color-dark);
}

.header-socials:hover {
    fill: var(--main-color);
}

/*hero section*/
.hero-section {
    background-image: url('../images/main-bcgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 583px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-content {
    width: 529px;
    height: 408px;
}

/*change stction*/
.change-container {
    display: flex;
    height: 695px;
    gap: 60px;
}

.change-images {
    display: flex;
    flex-direction: column;
}

.change-image-first,
.change-image-second {
    border-radius: 50%;
    width: 335px;
    height: 328px;
}

.change-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*benefits section*/
.benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-bottom: 90px;
}

.benefits-title {
    text-align: center;
}

.benefits-card {
    width: 316px;
    height: 181px;
    border-radius: 32px;
    text-align: center;
    border: 1px solid blue;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 56px;
}

/*procedures container*/
.procedures-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding-bottom: 90px;
}

.procedures-title {
    text-align: center;
}

.procedures-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}

/*find section*/
.find-map {
    border-radius: 10%;
}

.find-title {
    text-align: center;
}

.find-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 90px;
}

/*FOOTER*/
footer {
    background-color: var(--secondary-color-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 278px;
}

.footer-container {
    display: flex;
    gap: 40px;
    padding-top: 56px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--main-color);
}

.address-socials-icons {
    display: flex;
    fill: var(--primary-color-light);
    flex-direction: row;
    margin-top: 30px;
}

.address-socials-icon:hover {
    fill: var(--main-color);
}

.address-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: var(--secondary-color-light-brown);
}